body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    line-height: 1.5;
}


h1,
h2,
h3,
h4 .button {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

.about {
    background: url(img/patern.jpg);

}

.container {
    max-width: 900px;
    margin: auto;


}

img {
    max-width: 300px;
    width: auto;
    height: auto;

}

.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-gap: 100px;

}

.about img {
    display: block;
    margin-top: 20px;


}

h1 {
    font-size: 48px;
    line-height: 1.1;
}

.button {
    color: black;
    text-decoration: none;
    border: 3px solid #000;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;

}

.button:hover {
    background: #000;
    color: white;

}

.logo {
    max-width: 200px;
    display: block;
    margin: -2px auto;
}

.gallery {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    font-size: 22px;
    text-align: center;

}

.gallery img {
    display: block;
    max-width: 80%;

}

h2 {
    font-size: 32px;
    text-align: center;
    color: white;
    background-color: black;

}

.contact {
    background: url(img/patern.jpg);
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;

}


h3 {
    font-size: 32px;
    text-align: center;
    color: black;
    padding-top: 30px;
    margin-bottom: -10px;

}

a {
    color: salmon;

}

.contact a:hover {
    opacity: 0.7;

}



.footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-top: 28px;
    
     
}


.icon {
    zoom: 30%;
    
    
}
