body {
    font-family: 'Heebo', sans-serif;
}

h1, h2, h3 {
    font-family: 'Heebo', sans-serif;
}
.about {
    background-color: brown
}

.container { 
max-width: 900px;
    margin: auto;
    
}

img {
    max-width: 100px;
    width: auto;
    height: auto;
    
}
.about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
     
}
