body {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    color: firebrick;


}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    color: saddlebrown;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.container {
    max-width: 800px; 
    margin: auto;
}

.cta {
    background-color: antiquewhite;
    font-size: 21px;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.cta h3 {
    color: black;
    padding: 14px
}


.button {
  background-color:brown;
  color: #fff;
  text-decoration: none;
  padding: 14px;
  display: inline-block;
}
