@font-face {
    font-family: 'almoni-dl';
    src: url('fonts/almoni-dl/300/almoni-dl-aaa-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'almoni-dl';
    src: url('fonts/almoni-dl/400/almoni-dl-aaa-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'almoni-dl';
    src: url('fonts/almoni-dl/700/almoni-dl-aaa-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'almoni-dl';
    src: url('fonts/almoni-dl/900/almoni-dl-aaa-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



body {
    margin: 0;
    font-family: 'almoni-dl', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    margin: 0;

}

h1 {
    font-size: 6vw;
    margin-bottom: 10px;
    font-weight: 100;
    font-weight: 700;
    color: aliceblue;
}

h2 {
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 20px;
    color: #7E104C;
    

}



.logo {
    max-width: 150px;
}

.img {
    max-width: 100%;

}

.container {
    max-width: 1024px;
    margin: auto;

}

/* home */

.banner {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(img/mess6.jpg);
    background-size: cover;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    position: relative;
    
    /* shape */

}

.custom-shape-divider-bottom-1623667408 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1623667408 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1623667408 .shape-fill {
    fill: #E8DED7;
}


.about {
    text-align: center;
    background:#E8DED7;
    color: #30271c;
    padding: 20px 0;


}
.about a{
    color: #30271c;
    font-weight: bold;
    text-decoration: none;
    
}

a {
    color: black;

}

.button {
    background: #c7a17a;
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 24px;

}

.button:hover {
    color: #c7a17a;
    background: black;
}

h3 {
    color:aliceblue;
    font-size: 40px;
}





p {
    color: #7C5945;
    font-size: 25px;
    
    
}
